body {
  background-color: #111;
  color: #fff;
  font-family: "MS ゴシック", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: auto;
  background-color: #222;
  border: 2px solid #444;
  padding: 10px;
}

header {
  text-align: center;
  padding: 10px;
  background-color: #333;
  border-bottom: 2px solid #444;
}

.content {
  display: flex;
  flex-direction: column;
}

.sidebar {
  width: 200px;
  background-color: #333;
  padding: 10px;
  border-right: 2px solid #444;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  flex-grow: 1;
  padding: 10px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  border-top: 2px solid #444;
  margin-top: 10px;
}

.top-menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: #333;
  border-bottom: 2px solid #444;
  padding: 10px 0;
}

.top-menu ul li {
  margin: 0 15px;
}

.top-menu ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* スマホ向けメニュー */
@media (max-width: 768px) {
  .top-menu ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .top-menu ul li {
    width: 40%;
    margin: 5px;
    text-align: center;
  }

  .character-detail {
    flex-direction: column;
  }
}
